main .scientific{
    display: grid;
    grid-template-areas: 
        "calc memory" 
        "nums memory" 
        "nums memory"
    ;
    grid-template-columns: 80vw 1fr;
}
.scientific_calc{
    grid-area: calc;
    text-align: right;
}
.scientific_nums{
    grid-area: nums;
}
.scientific_memory{
    grid-area: memory;
    text-align: left;
    padding: .5em 2em;
}
#memory_zone {
    text-align: right;
    max-height: 80vh;
    overflow-y: auto;
}
#memory_zone article{
    font-size: 1.5em;
    padding: 1em;
    margin: auto;
    max-width: 6vw;
    overflow-x: auto;
}
#memory_zone article:hover{
    background-color: #777f;
}
.memory_zone-num-p{
    font-size: 1.5em;
    font-weight: 900;
}
.memory_zone-boton{
    display: none;
}
.memory_zone-boton button{
    font-size: .75em !important;
}
.scientific_calc div{
    width: 80vw;
    overflow-x: auto;
}
.scientific_calc h2{
    font-weight: 900;
    font-size: 3em;
}
.scientific_nums *{
    font-size: 1.4em;
}
.scientific_nums{
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
    grid-template-rows: 70px repeat(7, 90px);
    grid-gap: 4px;
}
.scientific_nums .memory_buttons{
    display: flex;
}
.scientific_nums .memory_buttons button{
    flex: 1;
    background-color: transparent;
    transition: .3s all;
}
.scientific_nums .memory_buttons button:hover{
    background-color: #333f;
    border: 1px solid #999;
}
.scientific_nums .memory_buttons button:active{
    background-color: #333f;
    border: 1px solid #999;
}
.scientific_nums button{
    border: 0;
    outline: none;
}
.ope{
    background-color: #333c;
}
.num{
    background-color: #833c;
}
.ope:hover{
    background-color: #777e;
}
.num:hover{
    background-color: #c77f;
}
.ope:active{
    background-color: #777e;
}
.num:active{
    background-color: #c77f;
}
button{
    color: #fff;
    transition: .3s all;
}
.scientific_memory div button{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1.4em;
}
.scientific_memory_button-active{
    border-bottom: 4px solid #822 !important;
}
.scientific_memory div button:hover{
    color: #aaa;
}
.memory_buttone_query{
    display: none;
}
.fa-trash-alt{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}
@media (max-width: 900px) {
    main .scientific{
        display: grid;
        grid-template-areas: 
            "calc calc" 
            "nums nums" 
            "nums nums"
        ;
        grid-template-columns: 1fr 1fr;
    }
    .scientific_memory{
        display: none;
    }
    .scientific_nums div:nth-child(2){
        display: none;
    }
    .scientific_nums div:nth-child(3){
        display: none;
    }
    .scientific_nums div:nth-child(4){
        display: none;
    }
    .memory_buttone_query{
        display: block;
    }
    .memory_buttons{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .scientific_calc div{
        width: 95vw;
        overflow-x: auto;
    }
}